<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Editor~</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/markdown.css">
</head>

<body style="height: 100vh; overflow: hidden;">
    <div id="header">
        Menu | Edit | View | Help
    </div>
    <div id="main-container" style="height: calc(100vh - 20px);">
        <div id="left-panel" style="width: calc(50% - 1.5px);">
            <textarea id="write" oninput="this.editor.update()" placeholder="Write MarkDown Here..."></textarea>
        </div>
        <div id="resize-panel" style="width: 3px"></div>
        <div id="right-panel" style="width: calc(50% - 1.5px);">
            <!-- <div style="text-align: center">
                <span style="font-size: 10px; padding: 5px 5px;">预览</span>
            </div> -->
            <div id="preview"></div>
        </div>
    </div>
    <script type="text/javascript" src="../../node_modules/markdown-it/dist/markdown-it.js"></script>
    <script type="text/javascript" src="../js/tab.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</body>

</html>